<h2>Novo Post</h2>

<form method="post" enctype="multipart/form-data">
    <label>Título:</label>
    <input type="text" name="Titulo" required>
    <br>
    <label>Conteúdo:</label>
    <textarea name="Conteudo" required></textarea>
    <br>
    <label>Imagem:</label>
    <input type="file" name="imagem">
    <br>
    <button type="submit">Publicar</button>
</form>
